.App {
  text-align: center;
  height: 100%;
}
div#root {
  height: 100%;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  /*background-color: #282c34;*/
  background-color: #b341b3;
  max-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
